<!DOCTYPE html>

<html>
  <head>
    <title>File Metadata</title>
    <link
      rel="shortcut icon"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link href="/dist-css/output.css" rel="stylesheet" type="text/css" />
  </head>

  <body class="text-white bg-slate-900">
    <div
      class="h-screen w-fit px-5 py-20 mx-auto flex justify-between flex-col"
    >
      <div class="">
        <h2 class="text-5xl">File Metadata Microservice</h2>

        <div
          class="mt-20 p-8 rounded-lg shadow-purple-800 shadow-sm hover:shadow-purple-800 hover:shadow-lg transition-all duration-200 ease-in-out border-purple-800 border-2 space-y-8"
        >
          <p class="text-xl text-center font-semibold">
            Upload a file to see its metadata:
          </p>
          <form
            enctype="multipart/form-data"
            method="POST"
            action="/api/fileanalyse"
          >
            <div class="flex justify-evenly">
              <input
                id="inputfield"
                type="file"
                name="inputfield"
                class="hidden"
              />
              <label
                for="inputfield"
                class="px-4 py-1 rounded-md bg-slate-500 hover:bg-slate-700 hover:cursor-pointer transition-all duration-200 ease-in-out"
                >Choose file</label
              >
              <button
                type="submit"
                class="px-3 py-1 rounded-md bg-purple-700 hover:bg-purple-900 transition-all duration-200 ease-in-out font-bold"
              >
                Upload
              </button>
            </div>
          </form>
        </div>
      </div>
      <div>
        <p class="text-center text-xl">
          by
          <a
            target="_blank"
            href="https://github.com/kTrzcinskii"
            class="font-bold text-purple-700 hover:text-purple-900 transition-all duration-200 ease-in-out"
            >Kacper Trzciński</a
          >
        </p>
      </div>
    </div>
  </body>
</html>
